.Managment {
  width: 100%;
  height: auto;
}

.Title {
  text-align: center;
  font-size: 50px;
}

.Content {
  margin-bottom: 50px;
  text-align: center;
  text-justify: auto;
  font-size: 20px;
  margin-left: 20%;
  margin-right: 20%;
  color: grey;
}

.Wrapper {
  height: 70%;
  display: flex;
}

.ListSection {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 30%;
}

.ImageSection {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 30%;
}

.ImageSection img {
  display: block;
  min-width: 120px;
  width: 70%;
  height: auto;
}
@media (max-width: 749px) {
  .ListSection {
    margin-left: 0;
  }
  .ImageSection {
    margin-right: 0;
  }
  .Content {
    margin-left: 10px;
    margin-right: 10px;
  }
}
