.Managment {
  width: 100%;
  height: 800px;
}

.Title {
  text-align: center;
  font-size: 50px;
}

.Content {
  text-align: center;
  text-justify: auto;
  font-size: 20px;
  margin-left: 20%;
  margin-right: 20%;
  color: grey;
}

.Wrapper {
  display: flex;
}

.ListSection {
  margin-left: 0;
  height: 100%;
}

.ImageSection {
  width: 50%;
  height: 100%;
  margin-top: 50px;
}

.ImageSection img {
  height: 500px;
  width: 50%;
}
