.Contact {
  background-position-y: 25%;
  background-image: url("../../assets/images/photovolt-contact.jpg");
  background-size: cover;
  height: 250px;
}

.Contact h2 {
  color: white;
}

.Wrapper {
  display: flex;
}

.FirstStepTitle {
  width: 45%;
  height: 100%;
  text-align: left;
  text-justify: auto;
  margin-left: 5%;
  margin-top: 11%;
  margin-bottom: 10%;
}
.FinanceText {
  margin: 0px 10%;
}
.FirstStepContent {
  width: 55%;
  height: 100%;
  text-justify: auto;
  text-align: left;
  margin-right: 5%;
  margin-top: 4%;
  margin-bottom: 80px;
  font-size: 18px;
  color: grey;
  line-height: 200%;
}

.FAQ {
  padding-top: 50px;
  padding-bottom: 100px;
}

.FAQ h2 {
  margin-bottom: 10px;
}

.Calculator {
  margin: auto;
}

.Calculator h2 {
  margin: auto;
}

.CalculatorInfo {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 20px;
  color: gray;
}

.CalculatorTitle {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
  font-size: 40px;
  color: black;
}

.CalculatorResultTitle {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  font-size: 40px;
  color: gray;
}

.CalculatorSideInfo {
  margin-top: 50px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 100px;
  font-size: 12px;
  color: gray;
}

@media (max-width: 749px) {
  .Wrapper {
    display: inline;
    width: 100%;
  }
  .FirstStepContent {
    margin: auto;
    text-align: justify;
    width: 80%;
    font-size: 15px;
  }

  .FirstStepTitle {
    margin: auto;
    text-align: center;
    width: 100%;
  }
}
