.GainConfidence {
  width: 100%;
}

.Wrapper {
  display: flex;
  height: 100%;
}

.ListSection {
  width: 50%;
  height: 100%;
  margin-top: 50px;
  text-align: left;
  margin-right: 5%;
}

.ListSection h4 {
  font-size: 18px;
}

.ImageSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;

  width: 50%;
  height: 100%;
  text-align: center;
  position: relative;
}

.ImageSection img {
  vertical-align: middle;
  width: 50%;
  height: 50%;
}
@media (max-width: 749px) {
  .ImageSection {
    display: none;
  }
  .ListSection {
    margin-right: 0;
    width: auto;
    text-align: center;
  }
}
