.Services {
  margin-left: 20%;
  margin-right: 20%;
}

.Services h2 {
  text-align: left;
  margin-bottom: 50px;
}

.ContentBox {
  display: flex;
  margin-bottom: 50px;
}
@media (max-width: 749px) {
  .ContentBox {
    margin-bottom: 0px;
    display: block;
  }
  .Services {
    margin-bottom: 40px;
  }
}
