.FooterItem {
  color: #808285;
  font-size: 10px;
  text-align: left;
  width: auto;
  margin: 0px 40px;
}

.FooterItem h3 {
  font-size: 15px;
}
.FooterItem ul {
  padding-inline-start: 0px;
}
.FooterItem ul li {
  display: block;
}

.FooterItem a {
  text-decoration: none;
  color: #007cba;
}

.FooterItem a:hover,
.FooterItem a:active {
  color: #54595f;
}
@media (max-width: 749px) {
  .FooterItem {
    margin: 0px 10px;
  }
}
