.Benefit {
  border: 1px solid #000000;
  display: inline-block;
  height: 400px;
  width: 300px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 80px;
  margin-top: 10px;
  vertical-align: top;
}

.Image {
  width: 70px;
  height: 70px;
  padding-top: 50px;
}

.Title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.Content {
  text-align: center;
  text-justify: auto;
  font-size: 18px;
  color: grey;
  padding: 5px;
}
@media (max-width: 749px) {
  .Content {
    color: #000;
    font-size: 15px;
    padding: 10px;
  }
  .Title {
    font-size: 25px;
  }
  .Image {
    width: 40px;
    height: 40px;
    padding-top: 30px;
  }
  .Benefit {
    border: 0px;
    background-color: rgba(255, 255, 255, 0.356);
    height: 300px;
    width: 250px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
    margin-top: 10px;
  }
}
