.Service {
  display: flex;
  flex-flow: column;
  text-align: left;
  max-width: 50%;
}

.Button {
  color: white;
  background-color: #30302e;
  font-size: 12px;
  padding: 10px 20px;
}
@media (max-width: 749px) {
  .Service {
    max-width: 100%;
  }
}
