.Service {
  display: flex;
  flex-flow: column;
  text-align: left;
  padding-right: 20px;
  max-width: 550px;
}

.Button {
  color: white;
  background-color: #30302e;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
}
