.Experience {
  width: 100%;
  height: auto;
}

.Title {
  margin-top: 100px;
  font-size: 45px;
}

.Content {
  font-size: 17px;
  color: gray;
  padding-left: 28%;
  padding-right: 28%;
}
@media (max-width: 749px) {
  .Title {
    margin-top: 50px;
    font-size: 30px;
  }
  .Content {
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 50px;
  }
  .Experience {
    height: auto;
  }
}
