.CircleLogo {
}

.CircleLogo img {
  padding-top: 10px;
  max-width: 60%;
  max-height: 60%;
}
@media (max-width: 749px) {
  .CircleLogo img {
    padding-top: 10px;
    max-width: 60%;
    max-height: 60%;
  }
  .CircleLogo {
  }
}
