.Footer {
  background-color: #282828;
  height: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
}
