.FirstSection {
  width: auto;
  height: 900px;
  margin-top: -25px;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
}

.Title {
  margin: 0 0 0 10%;
  padding-top: 100px;
  padding-bottom: 30px;
  text-align: left;
  font-weight: bold;

  font-size: 350%;
  color: #fff;
  width: 700px;
}

.Content {
  opacity: 0.7;
  margin: 0 0 0 10%;
  padding-bottom: 50px;
  width: auto;

  text-align: left;
  font-weight: normal;
  font-size: normal;
  color: #fff;
}

.Button {
  background-color: transparent;
  border-width: 1px;
  border: solid white;
  color: white;
  outline: white;
  cursor: pointer;
  font: inherit;
  padding: 10px 20px;
  margin: 0 0 0 10%;
  font-weight: bold;
}
@media (max-width: 749px) {
  .FirstSection {
    background-position-x: -400px;
  }
  .Title {
    margin: 0;
    font-size: 30px;
    text-align: center;
    width: auto;
  }
  .Content {
    margin: 0;
    text-align: center;
  }
}
