.FirstSection {
  width: 100%;
  height: 650px;
}

.Title {
  padding: 0 0 0 5%;
  text-align: left;
  font-weight: bold;
  font-size: large;
  font-size: 400%;
  color: #fff;
  width: 65%;
}

.Content {
  padding: 0 0 0 5%;
  text-align: left;
  font-weight: normal;
  font-size: normal;
}

.Button {
  background-color: transparent;
  border-width: 1px;
  border: solid white;
  color: white;
  outline: white;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}
