.Counter {
  border: 1px solid black;
  display: inline-block;
  height: 300px;
  width: 40%;
  margin: 10px 10px 80px 10px;

  vertical-align: top;
}

.CountUp {
  font-size: 80px;
  color: gray;
  margin-top: 50px;
  font-weight: lighter;
  text-align: center;
}

.Title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 1px;
}

.Content {
  text-align: center;
  text-justify: auto;
  font-size: 15px;
  color: grey;
  padding-left: 5%;
  padding-right: 5%;
  letter-spacing: 200%;
  margin-top: 20px;
}
@media (max-width: 749px) {
  .Counter {
    margin: 10px 0px 80px 0px;
    width: 80%;
  }
  .CountUp {
    font-size: 60px;
  }
}
