.Benefits {
  text-align: center;
  width: 100%;
  height: auto;
  background-image: url("../../../assets/images/benefits-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 60px;
}

.Title {
  margin-top: 50px;
  font-size: 60px;
  padding-top: 150px;
}

@media (max-width: 749px) {
  .Title {
    font-size: 40px;
  }
  .Benefits {
    padding: auto;
    height: auto;
  }
}
