.CounterSection {
  text-align: center;
  width: 100%;
  height: auto;
}

.Title {
  margin-top: 100px;
  font-size: 60px;
  text-align: center;
}
@media (max-width: 749px) {
  .Title {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 45px;
  }
}
